

@model BookingApp.Models.Room


<form asp-action="Add" class="form">
    <div class="mb-3">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="mb-3">
        <label for="FirstName" class="form-label">First Name *</label>
        <input type="text" class="form-control" required asp-for="FirstName" />
    </div>

    <div class="mb-3">
        <label for="LastName" class="form-label">Last Name *</label>
        <input type="text" class="form-control" required asp-for="LastName" />
    </div>

    <div class="mb-3">
        <label for="RoomType" class="form-label">Room Type *</label>
        <input type="text" class="form-control" required asp-for="RoomType" />
    </div>

    <div class="mb-3">
        <label for="checkin" class="form-label">Check in *</label>
        <input type="date" class="form-control" asp-for="checkin" required min="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>

    <div class="mb-3">
        <label for="checkout" class="form-label">Check Out *</label>
        <input type="date" class="form-control" required asp-for="checkout" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
