@model List<Room>;


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Room Type</th>
            <th scope="col">Check-in</th>
            <th scope="col">Check-out</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>@room.Id</td>
                <td>@room.RoomType</td>
                <td>@room.checkin</td>
                <td>@room.checkout</td>
            </tr>
        }
    </tbody>
</table>




		</tbody>


	</table>


